<input type="hidden" id="loggedIn" value={{loggedIn}}>

<div class="container ">
    <!-- Start Body  -->
    <div class="container ">
        <!-- Awesome Moving Bg -->
        <div id="flow">
            <span class="flow-1"></span>
            <span class="flow-2"></span>
            <span class="flow-3"></span>
        </div>
        <div class="section">
            <!-- Start Search  -->
            <form id="search-form" class="box">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input has-text-centered" id="searchInput" type="search"
                            placeholder="What are you craving?">
                    </div>
                    <div class="control">
                        <button class="button is-info" type="submit" id="searchButton">Search</button>
                    </div>
                </div>
            </form>
            <!-- End Search  -->
            {{#if loggedIn}}
            <div class="container has-text-centered">
                <h2 class="m-2 mb-5">Find new favorites!</h2>
            </div>
            {{else}}
            <!-- Login  -->
            <div class="container">
                <div class="columns is-centered">
                    <div class="column">
                        <form action="" class="box">
                            <div class="field is-grouped">
                                <div class="column is-one-third">
                                    <label for="" class="label">Email</label>
                                    <div class="control has-icons-left">
                                        <input type="email" placeholder="e.g. korysmithgmail.com" class="input"
                                            id="loginEmail">
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="column is-one-third">
                                    <label for="" class="label">Password</label>
                                    <div class="control has-icons-left">
                                        <input type="password" placeholder="*******" class="input" id="loginPassword">
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="column is-one-third">
                                    <div class="control has-text-centered">
                                        <label for="" class="label">&nbsp</label>
                                        <button class="button is-info is-centered" id="login">
                                            Login
                                        </button>
                                        <button class="button is-info is-centered" id="signup" href="/signup">
                                            Sign-up
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {{/if}}
            <!-- End Login  -->
            <!-- Multiline columns means they stack once width of screen is filled  -->
            <div class="columns is-multiline" id="recipesBody">
                {{#each recipes}}
                <!-- Card One -->
                <div class="column is-one-third recipe-card" id="{{dataValues.title}}">
                    <a class="recipe card large" href="/full-recipe/{{dataValues.id}}">
                        <div class="card-image">
                            <figure class="image">
                                <!-- image  -->
                                <img src="{{dataValues.image}}" />
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4 no-padding">
                                        {{dataValues.title}}
                                    </p>
                                    <p class="subtitle is-6">Dish type: {{toUpperCase dataValues.dishType}}</p>
                                </div>
                            </div>
                            <div class="content">
                                <p>Serves: {{dataValues.servings}}</p>

                            </div>
                        </div>
                    </a>
                    <footer class="card-footer">

                        {{#if ../loggedIn}}
                        <a class="card-footer-item" id="saveRecipe" data-id={{dataValues.id}}>Save to Faves</a>


                        {{/if}}
                    </footer>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
<div class="notification is-info is-light">
    <button class="delete"></button>
    Recipe successfully saved!
</div>
</div>

{{!-- TODO abstract to a partial --}}
{{!-- Notification --}}



<script src="/js/index.js"></script>
<script src="/js/saveRecipe.js"></script>